<main>
  <h1>Mentions légales</h1>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid esse
    molestias eos, doloribus, vel vero corporis sapiente nulla temporibus, eius
    commodi dignissimos distinctio? Magni nostrum nesciunt odio nihil, quia
    recusandae!
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
    vitae saepe neque quas repudiandae? Vitae molestias beatae provident
    praesentium, obcaecati corporis magnam distinctio aliquid perferendis
    repellat quia blanditiis quaerat cum.
  </p>

  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia nostrum
    soluta veritatis modi repudiandae? Accusamus suscipit distinctio vero fuga.
    Cum autem quibusdam earum dolorum officia beatae vitae suscipit impedit
    accusamus!
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia nostrum
    soluta veritatis modi repudiandae? Accusamus suscipit distinctio vero fuga.
    Cum autem quibusdam earum dolorum officia beatae vitae suscipit impedit
    accusamus!
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia nostrum
    soluta veritatis modi repudiandae? Accusamus suscipit distinctio vero fuga.
    Cum autem quibusdam earum dolorum officia beatae vitae suscipit impedit
    accusamus!
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia nostrum
    soluta veritatis modi repudiandae? Accusamus suscipit distinctio vero fuga.
    Cum autem quibusdam earum dolorum officia beatae vitae suscipit impedit
    accusamus!
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia nostrum
    soluta veritatis modi repudiandae? Accusamus suscipit distinctio vero fuga.
    Cum autem quibusdam earum dolorum officia beatae vitae suscipit impedit
    accusamus!
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia nostrum
    soluta veritatis modi repudiandae? Accusamus suscipit distinctio vero fuga.
    Cum autem quibusdam earum dolorum officia beatae vitae suscipit impedit
    accusamus!
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia nostrum
    soluta veritatis modi repudiandae? Accusamus suscipit distinctio vero fuga.
    Cum autem quibusdam earum dolorum officia beatae vitae suscipit impedit
    accusamus!
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia nostrum
    soluta veritatis modi repudiandae? Accusamus suscipit distinctio vero fuga.
    Cum autem quibusdam earum dolorum officia beatae vitae suscipit impedit
    accusamus!
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia nostrum
    soluta veritatis modi repudiandae? Accusamus suscipit distinctio vero fuga.
    Cum autem quibusdam earum dolorum officia beatae vitae suscipit impedit
    accusamus!
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia nostrum
    soluta veritatis modi repudiandae? Accusamus suscipit distinctio vero fuga.
    Cum autem quibusdam earum dolorum officia beatae vitae suscipit impedit
    accusamus!
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia nostrum
    soluta veritatis modi repudiandae? Accusamus suscipit distinctio vero fuga.
    Cum autem quibusdam earum dolorum officia beatae vitae suscipit impedit
    accusamus!
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia nostrum
    soluta veritatis modi repudiandae? Accusamus suscipit distinctio vero fuga.
    Cum autem quibusdam earum dolorum officia beatae vitae suscipit impedit
    accusamus!
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia nostrum
    soluta veritatis modi repudiandae? Accusamus suscipit distinctio vero fuga.
    Cum autem quibusdam earum dolorum officia beatae vitae suscipit impedit
    accusamus!
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia nostrum
    soluta veritatis modi repudiandae? Accusamus suscipit distinctio vero fuga.
    Cum autem quibusdam earum dolorum officia beatae vitae suscipit impedit
    accusamus!
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia nostrum
    soluta veritatis modi repudiandae? Accusamus suscipit distinctio vero fuga.
    Cum autem quibusdam earum dolorum officia beatae vitae suscipit impedit
    accusamus!
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia nostrum
    soluta veritatis modi repudiandae? Accusamus suscipit distinctio vero fuga.
    Cum autem quibusdam earum dolorum officia beatae vitae suscipit impedit
    accusamus!
  </p>
</main>
